
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNIVERSITY PANEL</title>
    <link rel="stylesheet" href="~/css/style.css" />
<link href="~/css/admin-light.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
	<script src="~/js/admin.js"></script>	
    @inject IConfiguration Configuration
    <script>
        var ApiBaseUrl = '@Configuration["ApiSettings:BaseUrl"]';
    </script>
</head>
<body>
    <div class="overlay" id="overlay" onclick="closeSidebar()"></div>
    <aside class="sidebar" id="sidebar">
        <div class="sidebar-brand">
            <div class="brand-name">
				<span>
                    <img src="~/logo/rwe.png" style="height:58px;width:73px;" />
                 @*    <img src="~/logo/nia_logo.png"  /> *@
                </span>
            </div>

            <button class="sidebar-close-btn" id="sidebarCloseBtn" onclick="closeSidebar()">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <nav class="sidebar-nav">
            <div class="nav-item" id="nav-dashboard">
                <a href="/University/Dashboard" class="nav-link">
                    <i class="fas fa-border-all"></i>
                    <span>Dashboard</span>
                </a>
            </div>

            <div class="nav-item has-dropdown" id="program">
                <div class="nav-link nav-toggle" onclick="toggleDropdown('program', event)">
                    <i class="fas fa-file-lines"></i>
                    <span>Programs & Courses</span>
                    <i class="fas fa-chevron-right arrow-icon"></i>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="/Pro/programlist"><i class="fas fa-circle dot"></i>Program list</a></li>
                    <li><a href="/Pro/courselist"><i class="fas fa-circle dot"></i>Course list</a></li>                   
                    <li><a href="/Pro/subjectlist"><i class="fas fa-circle dot"></i>Subject list</a></li>
                    <li><a href="/Pro/examlist"><i class="fas fa-circle dot"></i>Exam list</a></li>
                </ul>
            </div>
            <div class="nav-item has-dropdown" id="User">
                <div class="nav-link nav-toggle" onclick="toggleDropdown('User', event)">
                    <i class="fas fa-file-lines"></i>
                    <span>Academic Menus</span>
                    <i class="fas fa-chevron-right arrow-icon"></i>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="/Academic/enrollmentform"><i class="fas fa-circle dot"></i>Enrollment/Registration form</a></li>
                    <li><a href="/Academic/bulkenrollcard"><i class="fas fa-circle dot"></i>Bulk Enrollment Card</a></li>
                    <li><a href="/Academic/studentDetails"><i class="fas fa-circle dot"></i>Uploads Students</a></li>
                    <li><a href="/Academic/studentadmissiondetails"><i class="fas fa-circle dot"></i>Admissions Students</a></li>
                    <li><a href="/Academic/enrolformprint"><i class="fas fa-circle dot"></i>Print Enroll Form</a></li>
                    <li><a href="/Academic/examformprint"><i class="fas fa-circle dot"></i>Exam Form Print</a></li>
                    <li><a href="/Academic/formverification"><i class="fas fa-circle dot"></i>Form Verification</a></li>
                    <li><a href="/Academic/stcorrection"><i class="fas fa-circle dot"></i>Student Personal Correction</a></li>
                    <li><a href="/Academic/stphotoandsignature"><i class="fas fa-circle dot"></i>Students Photo & Signature Correction</a></li>
                    <li><a href="/Academic/changemobilenumber"><i class="fas fa-circle dot"></i>Change Mobile Number</a></li>
                </ul>
            </div>

            <div class="nav-item has-dropdown" id="subject">
                <div class="nav-link nav-toggle" onclick="toggleDropdown('subject', event)">
                    <i class="fas fa-qrcode"></i>
                    <span>Examinination</span>
                    <i class="fas fa-chevron-right arrow-icon"></i>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="/Exam/rolllist"><i class="fas fa-circle dot"></i>RollList</a></li>
                    <li><a href="/Exam/admitcard"><i class="fas fa-circle dot"></i>Print Admit Card</a></li>
                    <li><a href="/Exam/bulkadmitcard"><i class="fas fa-circle dot"></i>Print Bulk Admit Card</a></li>
                    <li><a href="/Exam/resultsheet"><i class="fas fa-circle dot"></i>Result Sheet</a></li>
                    <li><a href="/Exam/resulttr"><i class="fas fa-circle dot"></i>Print Result TR</a></li>
                    <li><a href="/Exam/revaltr"><i class="fas fa-circle dot"></i>Print Reval TR</a></li>
                    <li><a href="/Exam/re_revaltr"><i class="fas fa-circle dot"></i>Print Re-Reval TR</a></li>
                    <li><a href="/Exam/result"><i class="fas fa-circle dot"></i>View Result</a></li>
                    <li><a href="/Exam/examinerlist"><i class="fas fa-circle dot"></i>Examiner Create</a></li>
                    <li><a href="/Exam/ansbooklist"><i class="fas fa-circle dot"></i>Answer Book List</a></li>
                    <li><a href="/Exam/revallist"><i class="fas fa-circle dot"></i>Reval List</a></li>
                    <li><a href="/Exam/billprint"><i class="fas fa-circle dot"></i>Bulk Bill Print</a></li>
                </ul>
            </div>


            <div class="nav-item has-dropdown" id="Evaluation">
                <div class="nav-link nav-toggle" onclick="toggleDropdown('Evaluation', event)">
                    <i class="fas fa-qrcode"></i>
                    <span>Statistics /आंकड़े </span>
                    <i class="fas fa-chevron-right arrow-icon"></i>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="/Statistics/paymentstatus"><i class="fas fa-circle dot"></i>Date Wise Payment Statistics</a></li>
                    <li><a href="/Statistics/stexamwisestatistics"><i class="fas fa-circle dot"></i>Student Statistics Exam Wise</a></li>
                    <li><a href="/Statistics/statisticsofresult"><i class="fas fa-circle dot"></i>Statistics Of Result(pass and fail)</a></li>
                    <li><a href="/Statistics/resultreport"><i class="fas fa-circle dot"></i>Result Report</a></li>
                </ul>
            </div>

        </nav>

        <div class="sidebar-footer">
            <button class="logout-btn" onclick="handleLogout()">
                <i class="fas fa-right-from-bracket"></i>
                <span>Log Out</span>
            </button>
        </div>
    </aside>

    <div class="main-wrapper" id="mainWrapper">
        <header class="topbar">
            <button class="hamburger" id="hamburger" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
            <div class="INSTITUTE">
                <h4 style="font-size: xx-large;">NATIONAL INSTITUTE OF AYURVEDA</h4>
            </div>
            <div class="topbar-right">
                <div class="admin-info">
                    <i class="fas fa-circle-user"></i>
                    <span>Admin</span>
                </div>
            </div>
        </header>
        <main class="page-body">
            @RenderBody()

        </main>
        <footer class="page-footer">
            <p>© 2026 DCS Technosis Pvt. Ltd. All Rights Reserved.</p>
        </footer>
    </div>
	<script src="~/script.js"></script>
    <script>
        document.querySelectorAll(".onlyNumber").forEach(function (input) {
            input.addEventListener("input", function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });
        document.querySelectorAll(".onlyText").forEach(function (input) {
            input.addEventListener("input", function () {
                this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
