@{
    ViewData["Title"] = "Assigned Paper to Examiner";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}
<link href="~/css/programandcourse.css" rel="stylesheet" />
<div class="table-card">
    <div class="table-header" style="display:flex; align-items:center; justify-content:space-between;">
        <h3 class="table-title">Assigned Paper to Examiner</h3>
        <button class="btn btn-primary" id="exportExcelBtn" style="background: white;color: black;">
            Export Excel
        </button>
    </div>
    <div class="table-responsive">
        <table id="assignedPaperExaminerTbl" class="display custom-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Examiner</th>
                    <th>College</th>
                    <th>Course</th>
                    <th>Exam</th>
                    <th>Subject</th>
                    <th>Paper Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<script>

    let table;
    let allData = [];

    $(document).ready(function () {

        table = $('#assignedPaperExaminerTbl').DataTable({
            ajax: {
                url: ApiBaseUrl + 'Examiner/GetAllAssignedExaminer',
                dataSrc: function (json) {
                    allData = json;
                    return json;
                }
            },
            columns: [
                {
                    data: null,
                    render: (data, type, row, meta) =>
                        meta.row + meta.settings._iDisplayStart + 1
                },
                { data: 'examinerName' },
                { data: 'collegeName' },
                { data: 'courseName' },
                { data: 'examName' },
                { data: 'subjectName' },
                { data: 'paperType' }
            ]
        });

    });

    $('#exportExcelBtn').click(function () {

        let exportData = allData.map((item, index) => {
            return {
                "Examiner": item.examinerName,
                "College": item.collegeName,
                "Course": item.courseName,
                "Exam": item.examName,
                "Subject Name": item.subjectName,
                "Paper Type": item.paperType
            };
        });

        // Create worksheet
        let ws = XLSX.utils.json_to_sheet(exportData);

        // Create workbook
        let wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Assigned Paper to Examiner");

        // Download Excel
        XLSX.writeFile(wb, "Assigned_paper_to_examiner.xlsx");
    });

</script>