
@{
    ViewData["Title"] = "re_revaltr";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

<link href="~/css/programandcourse.css" rel="stylesheet" />

<style>
    .Filters {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0 0;
        flex-wrap: wrap;
        gap: 15px;
    }

    select#examFilter,
    input#rollFilter {
        padding: 8px;
        background: #dfdfdf;
        border-radius: 3px;
        width: 100%;
    }

    .page {
        width: 297mm;
        min-height: 210mm;
        margin: 10mm auto;
        background: #fff;
        padding: 5mm 6mm;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
    }

    .top-bar {
        display: flex;
        justify-content: center;
        font-size: 12px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
        padding: 5px;
    }

    .logo-img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-left: 30px;
    }

    .header-center {
        flex: 1;
        text-align: center;
    }

        .header-center .h1 {
            font-size: 17px;
            font-weight: bold;
        }

        .header-center .h2,
        .header-center .h3,
        .header-center .h4 {
            font-size: 11px;
        }

        .header-center .exam-title,
        .header-center .tab-title {
            font-size: 12px;
            font-weight: bold;
            margin-top: 4px;
        }

    .page-box {
        border: 1.5px solid #000;
        padding: 2px 20px;
        font-size: 12px;
        font-weight: bold;
    }

    .date-issue {
        font-size: 11px;
        font-weight: bold;
        margin-top: 20px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    .main-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 10px;
        margin-top: 4px;
        border: 1.5px solid #000;
    }

        .main-table th,
        .main-table td {
            border: 1px solid #000;
            padding: 2px 3px;
            /* text-align: center; */
            vertical-align: middle;
        }

    .rotated {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
        font-size: 9px;
        font-weight: bold;
    }

    .info-cell {
        text-align:center;
        line-height: 1.6;
        padding: 4px;
    }

    .subj-cell {
        text-align: left !important;
        padding-left: 5px;
    }

    .notes-content {
        text-align: left;
    }

    .note-title {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .note-item {
        margin-bottom: 2px;
        font-size: 10px;
    }

    .note-item1 {
        margin: 1px 0;
        font-size: 10px;
        line-height: 1.4;
    }
    .sign-row {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        padding-top: 41px;
    }

    .sign-col {        
       
        vertical-align: bottom;
        padding: 5px 10px;
    }
</style>

<div class="table-card">
    <div class="table-header">
        <h3 class="table-title">Re Reval TR</h3>
        <div class="table-actions">
            <button class="btn btn-success mb-3" onclick="window.print()">Bulk Print Re Reval TR</button>
        </div>
    </div>

    <div class="card shadow-sm p-3 rounded-4">
        <div class="row g-3 align-items-end Filters">
            <div class="col-lg-4 col-md-6">
                <label class="form-label fw-semibold">Exam Name</label>
                <select id="examFilter" class="form-select">
                    <option value="">-- Select Exam --</option>
                </select>
            </div>

            <div class="col-lg-4 col-md-6">
                <label class="form-label fw-semibold">Roll Number</label>
                <input type="text" id="rollFilter" class="form-control onlyNumber" placeholder="Enter Roll Number">
            </div>

            <div class="col-lg-2 col-md-6">
                <button id="searchBtn" class="btn btn-primary w-100" style="margin-top:16%;">🔍 Search</button>
            </div>
        </div>
    </div>
</div>

<div class="page">
    <div class="top-bar">
        <span>NATIONAL INSTITUTE OF AYURVEDA</span>
    </div>

    <div style="border:1px solid black;">
        <div class="header">
            <img class="logo-img" src="/logo/nia_logo_tR.png" alt="NIA Logo">

            <div class="header-center">
                <div class="h1">NATIONAL INSTITUTE OF AYURVEDA, JAIPUR</div>
                <div class="h2">Deemed to be University</div>
                <div class="h3">(Ministry of AYUSH, Govt. of India)</div>
                <div class="h4">Jorawar Singh Gate, Amer Road, Jaipur-302002</div>
                <div class="exam-title">Exam Name</div>
                <div class="tab-title">TABULATION REGISTER/LEDGER</div>
            </div>

            <div class="header-right">
                <div class="page-box">Page:1</div>
                <div class="date-issue">Date of Issue : @DateTime.Now.ToString("dd-MM-yyyy")</div>
            </div>
        </div>

        <table class="main-table" id="tbl_result">
            <thead>
                <tr>
                    <th rowspan="3">S.<br>No.</th>
                    <th rowspan="3">Roll NO<br>Enrollment No.<br>Candidate Name<br>Father's Name</th>
                    <th rowspan="3"><div class="rotated">Attempt</div></th>
                    <th rowspan="3">Name of Subjects<br>in which appearing</th>
                    <th rowspan="3">Unique Code</th>
                    <th colspan="3">Marks Scheme</th>
                    <th colspan="4">OBTAINED MARKS</th>
                    <th rowspan="3">Grace</th>
                    <th rowspan="3"><div class="rotated">Required to appear</div></th>
                    <th rowspan="3"><div class="rotated">Distinction</div></th>
                    <th rowspan="3">Grand<br>Total</th>
                    <th rowspan="3">Result</th>
                </tr>
                <tr>
                    <th colspan="2">Theory / Practical</th>
                    <th rowspan="2">Total</th>
                    <th rowspan="2">Theory</th>
                    <th rowspan="2">Practical</th>
                    <th rowspan="2" colspan="2">Total</th>
                </tr>
                <tr>
                    <th>MAX</th>
                    <th>MIN</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        loadPrograms();
        loadResultSheet();

        $('#searchBtn').click(function () {
            loadResultSheet();
            var examIddd = $('#examFilter option:selected').text();
            $(".exam-title").text(examIddd);
        });

        function loadResultSheet() {
             var examId = $('#examFilter').val();
    var rollNo = $('#rollFilter').val().trim();

    let requestData = {};
    if (examId && examId !== "") {
        requestData.examId = parseInt(examId);
    }
    if (rollNo && rollNo !== "") {
        requestData.rollNo = rollNo;
    }

            $.ajax({
                url: ApiBaseUrl + 'Exam/resultsheet',
                type: 'GET',
              data: requestData,
                success: function (data) {
                    let subjectRows = '';
                    if (data.length > 0) {
                        $('.exam-title').text(data[0].exam_name);
                        let grandTotal = data[0].grandTotal;
                        let result = data[0].result;
                        $.each(data, function (index, item) {
                            subjectRows += `
                                <tr style="text-align:center;">
                                    ${index === 0 ? `<td rowspan="${data.length}">1</td>` : ''}
                                    ${index === 0 ? `
                                    <td rowspan="${data.length}" class="info-cell">
                                        <div><b>${item.rollNumber}</b></div>
                                        <div>${item.enrollmentNo ?? ''}</div>
                                        <div><b>${item.studentName}</b></div>
                                        <div>${item.fatherName}</div>
                                    </td>` : ''}

                                    ${index === 0 ? `<td rowspan="${data.length}">1st</td>` : ''}
                                    <td class="subj-cell">${item.subject_name}</td>
                                    <td>${item.scriptId}</td>
                                    <td>${item.maxValue}</td>
                                    <td>${item.minValue}</td>
                                    <td>${item.maxValue}</td>
                                    <td>${item.theory}</td>
                                    <td>${item.practical}</td>
                                    <td colspan="2">${item.theory}</td>
                                    <td>${item.grace ?? ''}</td>
                                    <td>${item.requiredtoappear ?? ''}</td>
                                    <td>${item.distinction ?? ''}</td>
                                    ${index === 0 ? `<td rowspan="${data.length}"><b>${grandTotal}</b></td>` : ''}
                                    ${index === 0 ? `<td rowspan="${data.length}"><b>${result}</b></td>` : ''}
                                </tr>`;
                        });

                        subjectRows += `
                            <tr>
                                <td colspan="4" class="note-item1">
                                    <div class="note-title">Note.</div>
                                    <div class="note-item">1. For candidate to pass, minimum 50% marks are required in Theory and Practical.</div>
                                    <div class="note-item">2. 75% or above marks indicate Distinction (D).</div>
                                    <div class="note-item">3. Failing Theory means fail in both Theory and Practical.</div>
                                </td>
                                <td colspan="3">
                                    <div class="sign-row">
                                        <div class="sign-col">Tabulator</div>
                                        <div class="sign-col">DCOE</div>
                                    </div>
                                </td>
                                <td colspan="11">
                                    <div class="sign-row">
                                        <div class="sign-col">Controller of Examinations</div>
                                        <div class="sign-col">Registrar</div>
                                        <div class="sign-col">Vice Chancellor</div>
                                    </div>
                                </td>
                            </tr>`;
                    }
                    else {
                        subjectRows = `
                            <tr>
                                <td colspan="17" style="padding:20px; font-weight:bold;">
                                    No Record Found
                                </td>
                            </tr>`;
                    }

                    $('#tbl_result tbody').html(subjectRows);
                },
                    error: function (xhr, status, error) {

        console.log("XHR:", xhr);
        console.log("Status:", status);
        console.log("Error:", error);
        console.log("Response Text:", xhr.responseText);

        let errorMessage = "Error loading result sheet.";

        if (xhr.responseText) {
            errorMessage += "\n\nServer Response:\n" + xhr.responseText;
        }

        alert(errorMessage);
    }
            });
        }
    });


    function loadPrograms() {
        fetch(ApiBaseUrl + 'Course/GetExamDetails')
            .then(res => res.json())
            .then(data => {
                let ddl = document.getElementById("examFilter");
                ddl.innerHTML = '<option value="">Select Exam</option>';
                data.forEach(x => {
                    ddl.innerHTML += `<option value="${x.examId}">${x.examName}</option>`;
                });
            });
    }

</script>

